/* general settings */
*{
    position:relative;
    font-family:system-ui;
    transition: all 0.5s;
}
/* design of page */
body{
    background:rgb(245,245,245);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center
}
nav{
    background:white;
    display:flex;
    flex-direction:column;
    text-align:center;
    top:25px;
    width:270px;
    border-radius:18px;
    box-shadow:0px 0px 15px 0px #fe9a2e;
    padding:5px;
    height:350px;
}
/* first section of card */
.title{
    background:#fe9a2e;
    color:white;
    border-radius:18px 18px 0px 0px;
    top:-5px;
    width:103.9%;
    left:-5px;
    height:65px;
    display:flex;
    flex-direction:row-reverse;
    justify-content:space-evenly;
    align-items:center
}
/* content */
.content {
    display: flex;
    padding: 15px;
    height: inherit;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
section#count{
    font-size: 30px;
    padding: 5px;
    width: 90px;
    border: 1px solid grey;
    font-family: sans-serif;
}
.add{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 10px solid #ff8f008a;
}
.add:hover{
    box-shadow: 0px 0px 10px 0px grey;
}
.add:active{
    box-shadow: 0px 0px 19px 0px orange inset;
}

/* other settings */
.otherSettings {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
    align-items: center
}
.reset{
    width: 20px;
    height: 20px;
}
input{
    padding: 0px;
    width: auto;
    border: 0px solid white;
    box-shadow: 0px 0px 2px 1px #8080804d;
}
input[type="color" i]::-webkit-color-swatch-wrapper {
    padding:0px;
    width:25px
}